:host {
  display: block;
}

app-button-with-icon.active {
  /* Cambia el color de fondo a un tono de rojo */
  background-color: #dc3545;
  /* Cambia el color del texto para que sea legible */
  color: white;
  /* (Opcional) Agrega un borde para mayor distinción */
  border-color: #dc3545;
}
