<p-toast position="top-right"></p-toast>
<div class="container mx-auto my-auto form" style="min-width: 350px">
  <h3 class="my-4">Agregar un Producto</h3>
  <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
    <app-input-box
      label="Nombre del producto"
      type="text"
      id="title"
      placeholder="Ingresa un nombre del producto"
      formControlName="nombre"
    ></app-input-box>
    <!-- Mensaje de error para el título -->
    <div
      *ngIf="
        productoForm.get('nombre')?.invalid &&
        productoForm.get('nombre')?.touched
      "
      class="text-danger text-sm mt-1"
    >
      <small *ngIf="productoForm.get('nombre')?.errors?.['required']"
        >El título es requerido.</small
      >
      <small *ngIf="productoForm.get('nombre')?.errors?.['minlength']"
        >El título debe tener al menos 3 caracteres.</small
      >
    </div>
    <app-input-options
      label="Seleccione si es:"
      [options]="[
        { text: 'PRODUCTO', value: 'producto', iconClass: 'box' },
        { text: 'SERVICIO', value: 'servicio', iconClass: 'tools' }
      ]"
      formControlName="tipo"
    ></app-input-options>

    <app-input-box
      label="Descripcion del producto"
      type="text"
      id="description"
      placeholder="Ingresa una descripcion del producto creado"
      [required]="true"
      [isTextarea]="false"
      formControlName="descripcion"
      style="justify-content: center; align-items: center"
    ></app-input-box>

    <app-input-modal-selector
      label="Selecciona una categoria"
      id="categoria"
      [data]="categoriaData"
      placeholder="Selecciona una categoría del producto creado"
      formControlName="categoria_id"
    ></app-input-modal-selector>
    <div style="max-width: 400px; margin: 50px auto; display: grid; gap: 20px">
      <!-- Cambiamos el botón para que sea de tipo 'submit' -->
      <app-custom-button
        text="Guardar Pedido"
        type="submit"
        styleType="success"
        [disabled]="productoForm.invalid"
        (click)="onSubmit()"
      >
        ></app-custom-button
      >
    </div>
  </form>
</div>
