<p-toast></p-toast>
<app-sidebar
  [(isVisible)]="sidebarVisible"
  [title]="sidebarTitle"
  [componentToLoad]="componentToLoad"
  [componentInputs]="sidebarInputs"
  *ngIf="pedido()?.estado === 'En Creacion'"
></app-sidebar>

<h1 class="text-center my-2 mx-2">Informacion del pedido</h1>

<p class="separator text-success"></p>
<div class="row g-3">
  <div class="col-12 col-md-6 info_pedido">
    <div class="container mx-8 shadow-inner">
      <h2 class="">Detalle del pedido:</h2>

      <p>
        <b> Numero de Pedido:</b>
        {{ pedido()?.numero_pedido }}
      </p>

      <p>
        <b>Titulo:</b>
        {{ pedido()?.titulo }}
      </p>

      <p>
        <b>Urgente:</b>

        <span
          class="badge mx-2"
          [ngClass]="{
            'text-bg-secondary': !pedido()?.urgente,
            'text-bg-danger': pedido()?.urgente
          }"
        >
          {{ pedido()?.urgente ? "SI" : "NO" }}
        </span>
      </p>
      <p>
        <b>Estado:</b>
        <span
          class="mx-2 badge"
          [ngClass]="getBadgeClass(pedido()?.estado, false)"
          >{{ pedido()?.estado }}</span
        >
      </p>
      <p *ngIf="pedido()?.plazo_entrega">
        <b>Plazo de entrega:</b>
        {{ pedido()?.plazo_entrega | date : "dd/MM/yyyy" }}
        <i class="bi bi-calendar-event"></i>
      </p>

      <p>
        <b>Fecha de creacion:</b>
        {{ pedido()?.fecha_creacion | date : "dd/MM/yyyy, hh:mm"
        }}<i class="bi bi-calendar mx-2"></i>
      </p>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-1">
    <h4 class="text-center">Estado del pedido</h4>
    <p-timeline [value]="events" class="w-full" align="alternate">
      <ng-template pTemplate="content" let-event>
        <div
          class="text-opacity-100"
          [ngClass]="{
            'fw-bold': isEventCompleted(event.value),
            'text-muted': !isEventCompleted(event.value)
          }"
          *ngIf="event.show"
        >
          {{ event.status }}
        </div>
        <small *ngIf="event.showNumeroPedido">
          {{ pedido()?.numero_pedido }}</small
        >
      </ng-template>
    </p-timeline>
  </div>
  <app-table-items-pedidos-card
    [pedido]="pedido()"
    (openCreateItem)="openPedidoProducto()"
    (deleteItem)="deleteItemPedido($event)"
    (openEditItem)="editProductItem($event)"
    (finalizarPedido)="showConfirmarPedido()"
  ></app-table-items-pedidos-card>
</div>
<div class="flex justify-content-center">
  <p-toast
    position="bottom-center"
    key="confirm"
    (onClose)="onRejectPedido()"
    [baseZIndex]="5000"
  >
    <ng-template let-message pTemplate="message">
      <div class="flex flex-column" style="flex: 1">
        <div class="text-center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
          <h4>{{ message.summary }}</h4>
          <p>{{ message.detail }}</p>
        </div>
        <div class="grid p-fluid">
          <div class="col-6">
            <button
              type="button"
              pButton
              (click)="onConfirmPedido()"
              label="Si"
              class="p-button-success"
            ></button>
          </div>
          <div class="col-6">
            <button
              type="button"
              pButton
              (click)="onRejectPedido()"
              label="No"
              class="p-button-secondary"
            ></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-toast>
</div>
<div *ngIf="pedido()?.estado == 'En Creacion'">
  <p-speedDial
    [model]="items"
    direction="up"
    showIcon="pi pi-bars"
    hideIcon="pi pi-times"
    buttonClassName="p-button-rounded p-button-outlined fw-bold"
    className="mi-speed-dial"
    pTooltip="Menú de acciones rápidas"
  ></p-speedDial>
</div>
