<!-- <div class="d-flex flex-column h-100 mh-95vh">
  <div class="modal-header" [ngClass]="titleClass">
    <h4 class="strong">{{ title | uppercase }}</h4>
    <button class="close" (click)="cancel()">×</button>
  </div>
  <div class="modal-body flex-grow-1 scrollable">
    <ng-container ngComponentOutlet="component; inputs: inputs"></ng-container>
  </div>
  <div class="modal-footer"ngIf="onConfirm || onCancel">
    <button class="btn btn-primary" ngIf="onConfirm" (click)="confirm()">Confirmar</button>
    <button class="btn btn-secondary"ngIf="onCancel" (click)="cancel()">Cancelar</button>
  </div>
</div> -->
<app-sidebar [(isVisible)]="sidebarVisible" [title]="sidebarTitle">
  <!-- Proyecta el contenedor que renderizará el componente dinámico -->
  <ng-container *ngIf="componentToLoad">
    <ng-container *ngComponentOutlet="componentToLoad"></ng-container>
  </ng-container>
</app-sidebar>
<h1 class="text-center my-2 mx-2">Informacion del pedido</h1>
<p class="separator text-success"></p>
<div class="container mx-8 shadow-inner">
  <h2 class="">Detalle del pedido:</h2>

  <p>
    <b> Numero de Pedido:</b>
    {{ pedido()?.numero_pedido }}
  </p>

  <p>
    <b>Titulo:</b>
    {{ pedido()?.titulo }}
  </p>

  <p>
    <b>Urgente:</b>
    <span
      class="mx-2 badge"
      [ngClass]="{
        'text-bg-secondary': !pedido()?.urgente,
        'text-bg-red': pedido()?.urgente
      }"
      >{{ pedido()?.urgente ? "SI" : "NO" }}</span
    >
  </p>
  <p>
    <b>Estado:</b>
    <span class="mx-2 badge" [ngClass]="getBadgeClass(pedido()?.estado)">{{
      pedido()?.estado
    }}</span>
  </p>
  <p *ngIf="pedido()?.plazo_entrega">
    <b>Plazo de entrega:</b> {{ pedido()?.plazo_entrega }}
    <i class="bi bi-calendar-event"></i>
  </p>

  <p>
    <b>Fecha de creacion:</b> {{ pedido()?.fecha_creacion | date : "medium"
    }}<i class="bi bi-calendar mx-2"></i>
  </p>
</div>
<div class="product-container shadow-sm">
  <!-- Encabezado con el título, buscador y botón de agregar -->
  <div class="container-header min-vh-25" style="min-width: 350px">
    <h5 class="fw-bold">Productos/Servicios Agregados</h5>
    <div class="d-flex align-items-center mt-3 gap-2">
      <div class="input-group flex-grow-1">
        <span class="input-group-text bg-light border-end-0" id="search-icon">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          class="form-control border-start-0"
          placeholder="Buscar producto..."
        />
      </div>
      <app-button-with-icon
        text="Agregar"
        iconClass="bi bi-plus"
        class="w-2 h-1"
        (buttonClick)="openProductForm()"
      ></app-button-with-icon>
    </div>
  </div>

  <!-- Contenido: Lista de productos o mensaje de "sin productos" -->
  <div class="container-body">
    <!-- ***** VISTA 1: Con productos ***** -->
    <div>
      <ul class="list-group list-group-flush" *ngFor="let item of pedidoItems">
        <!-- Producto 1 -->
        <li
          class="list-group-item d-flex justify-content-between align-items-center product-card"
        >
          <div class="d-flex align-items-center">
            <div class="product-icon me-3">
              <i
                class="{{ item.producto?.categoria?.icon_text }} text-success"
              ></i>
            </div>
            <div class="product-info">
              <h6 class="product-title mb-1">{{ item.producto?.nombre }}</h6>
              <p
                class="product-description mb-1"
                *ngIf="item.producto?.descripcion"
              >
                {{ item.producto?.descripcion }}
              </p>
              <p class="product-description mb-1" *ngIf="item.razon_pedido">
                Razon del pedido:{{ item.razon_pedido }}
              </p>
              <small class="product-quantity text-muted"
                ><b>Cantidad:</b> {{ item.cantidad }},
                {{ item.unidad_medida.nombre }}</small
              >
            </div>
          </div>
          <div class="product-actions d-flex gap-1">
            <button
              class="btn btn-sm btn-light border rounded-circle text-center text-warning gap-5"
              title="Editar producto"
            >
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-sm btn-light border rounded-circle text-center text-danger"
              title="Eliminar producto"
              (click)="deleteItemPedido(item.id)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>

    <!-- ***** VISTA 2: Sin productos (Comentada por defecto) ***** -->

    <div class="no-products-placeholder" *ngIf="!pedido()">
      <div class="add-icon-circle">
        <i class="bi bi-plus-lg"></i>
      </div>
      <p class="mt-3 text-muted">Agregar productos relacionados</p>
    </div>
    <div class="no-products-placeholder" *ngIf="pedido()">
      <div class="add-icon-circle">
        <i class="bi bi-check text-success"></i>
      </div>
      <p class="mt-3 text-muted">Terminar pedido</p>
    </div>
  </div>
</div>
