<div class="input_box">
  <div class="d-flex align-items-center">
    <ng-container *ngIf="required">
      <i class="bi bi-asterisk text-danger fs-6" style="font-size: 0.85rem"></i>
    </ng-container>
    <label [for]="id" class="mb-0">{{ label }}</label>
  </div>

  <!-- Textarea -->
  <textarea
    *ngIf="isTextarea"
    [id]="id"
    [placeholder]="placeholder"
    [required]="required"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    [disabled]="disabled"
    [readOnly]="readOnly"
    [attr.maxlength]="maxLength"
    [attr.minlength]="minLength"
  ></textarea>

  <!-- Input normal -->
  <div
    class="input-icon-container currency-group mb-2"
    *ngIf="type === 'currency'"
  >
    <span class="currency-box">$</span>
    <input
      [type]="'text'"
      [id]="id"
      [placeholder]="placeholder"
      [required]="required"
      [value]="displayValue"
      (input)="onInput($event)"
      (blur)="onBlur()"
      [disabled]="disabled"
      [readOnly]="readOnly"
      class="input-with-currency align-middle"
      [attr.maxlength]="maxLength"
      [attr.minlength]="minLength"
      autocomplete="off"
      style="margin: 0"
    />
  </div>
  <div class="input-icon-container" *ngIf="type !== 'currency'">
    <ng-container *ngIf="icon">
      <i [ngClass]="icon" class="input-icon mb-4 mx-0"></i>
    </ng-container>
    <input
      *ngIf="!isTextarea"
      [type]="type"
      [id]="id"
      [placeholder]="placeholder"
      [required]="required"
      [value]="displayValue"
      (input)="onInput($event)"
      (blur)="onBlur()"
      [disabled]="disabled"
      [readOnly]="readOnly"
      class="input-with-icon"
      [style.paddingLeft]="icon ? '2.2rem' : undefined"
      [attr.maxlength]="maxLength"
      [attr.minlength]="minLength"
      autocomplete="off"
    />
  </div>

  <div
    *ngIf="control?.invalid && (control?.touched || control?.dirty)"
    class="text-red-500 text-sm"
  >
    <small *ngIf="control?.errors?.['required']" class="text-danger"
      >Este campo es requerido.</small
    >
    <small *ngIf=" control?.errors?.['minlength']" class="text-danger">
      Debe tener al menos
      {{ control?.errors?.['minlength']?.requiredLength }} caracteres.
    </small>
    <small *ngIf="control?.errors?.['maxlength']" class="text-danger">
      No puede superar los
      {{ control?.errors?.['maxlength']?.requiredLength }} caracteres.
    </small>
    <small *ngIf="control?.errors?.['min']" class="text-danger">
      El valor debe ser mayor o igual a {{ min }}.
    </small>
  </div>
</div>
