<p-toast></p-toast>
<p-dialog
  header="Precio del Objeto/Servicio"
  [(visible)]="showPriceDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '350px' }"
>
  <div class="p-fluid">
    <label class="mb-2 ">Precio</label>

    <!-- Usamos p-inputNumber (si lo importaste) -->
    <p-inputNumber
      [(ngModel)]="precioAsignado"
      [min]="0"
      [mode]="'decimal'"
      [minFractionDigits]="0"
      [maxFractionDigits]="2"
      placeholder="Ingrese el presupuesto"
      inputId="precioInput"
      class="mb-2"
    >
    
    </p-inputNumber>

    <div class="d-flex justify-content-end gap-2 mt-3">
      <button
        pButton
        type="button"
        label="Cancelar"
        class="p-button-text"
        (click)="cancelAdd()"
      ></button>
      <button
        pButton
        type="button"
        label="Aceptar"
        (click)="confirmAddWithPrice()"
        [disabled]="!isPrecioValid()"
      ></button>
    </div>
  </div>
</p-dialog>
<div class="d-flex gap-5">
  <div class="w-75">
    <h4>Formulario de orden de compra:</h4>
        <app-input-modal-selector
        label="Selecciona un Proovedor"
        id="proovedor_id"
        [data]="proveedoresData"
        placeholder="Seleccione un proveedor"
        formControlName="id"
        [required]="true"
      />
    <div class="container-body">
      
        <app-table-items-pedidos-card
          [itemsOC]="itemsOC"
          (deleteItem)="deleteItemPedido($event)"
          (messageNull)="showMessageWhenIsNull()"
  ></app-table-items-pedidos-card>
    </div>

    <app-custom-button
      text="Guardar Orden de COmpra"
      type="submit"
      styleType="success"
    >
      ></app-custom-button
    >
  </div>

  <div class="">
    <h4>Items pendientes para OC:</h4>
    <app-table-ng-item-pedido
      (addItem)="handleItemAdd($event)"
    ></app-table-ng-item-pedido>
  </div>
</div>
