<div class="w-100 mb-4">
  <div class="card border-left-{{ borderColor }} shadow h-65 py-2">
    <div class="card-body">
      <div class="d-flex align-items-center" style="width: 100%;">
        <div class="text-start" style="width: 75%;">
          <div
            class="fs-6 font-weight-bold text-{{ borderColor }} text-uppercase mb-1 card-title-nowrap text-center"
          >
            {{ title }}
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800 fs-4 text-center">
            {{ value }}
          </div>
        </div>
        <div class="d-flex justify-content-end" style="width: 25%;">
          <i class="text-secondary bi {{ icon }} fs-2 text-opacity-50"></i>
        </div>
      </div>
    </div>
  </div>
</div>