/* styles.scss */

/* Estilo para el contenedor del sidebar */
.custom-sidebar {
  width: 45vw !important; /* fuerza la mitad */
  height: 100vh;
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.15);
}

/* * PrimeNG crea una máscara (overlay) detrás del sidebar con la clase 'p-sidebar-mask'.
 * Le aplicamos el filtro de desenfoque a esta máscara.
 */
.p-sidebar-mask.p-component-overlay {
  /* El efecto de desenfoque */
  backdrop-filter: blur(5px);

  /* Opcional: Un color de fondo semitransparente para mejorar el efecto */
  background-color: rgba(0, 0, 0, 0.2);
}
