<!-- pedidos-form.component.html -->
<div class="container mx-auto my-auto form w-75">
  <!-- <h3 class="my-2">Agregar un pedido</h3> -->
  <form [formGroup]="pedidoForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <!-- Titulo input box -->
    <app-input-box
      label="Titulo del pedido"
      type="text"
      id="title"
      placeholder="Ingresa un titulo del pedido"
      formControlName="titulo"
      [required]="true"
    ></app-input-box>
    <!-- Mensaje de error para el título -->
    <div
      *ngIf="
        pedidoForm.get('titulo')?.invalid && pedidoForm.get('titulo')?.touched
      "
      class="text-red-500 text-sm"
    >
      <small
        *ngIf="pedidoForm.get('titulo')?.errors?.['required']"
        class="text-danger"
        >El título es requerido.</small
      >
      <small
        class="text-danger"
        *ngIf="pedidoForm.get('titulo')?.errors?.['minlength']"
        >El título debe tener al menos 5 caracteres.</small
      >
    </div>
    <div class="card flex border-0 mb-2">
      <div class="d-flex col align-items-center">
        <i
          class="bi bi-asterisk text-danger mb-0"
          style="font-size: 0.85rem"
        ></i>
        <label for="area" style="font-size: 1.1rem">Área:</label>
      </div>

      <p-dropdown
        [options]="areasData"
        optionLabel="name"
        formControlName="area"
        placeholder="Selecciona un área"
        [style]="{ minWidth: '14rem' }"
        styleClass="w-100"
      >
        <ng-template let-item pTemplate="item">
          <div class="flex gap-2">
            <i class="bi" [ngClass]="getIcon(item.name)"></i>
            <div>{{ item.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <small
        *ngIf="pedidoForm.get('area')?.errors?.['required'] &&  pedidoForm.get('area')?.touched"
        class="text-danger"
        >el campo Area es requerido.</small
      >
    </div>
    <!-- Urgente input box -->
    <app-input-options
      label="¿Es urgente?"
      [options]="[
        { text: 'SI', value: true, iconClass: 'check' },
        { text: 'NO', value: false, iconClass: 'x' }
      ]"
      formControlName="urgente"
    ></app-input-options>
    <small
      *ngIf="pedidoForm.get('urgente')?.errors?.['required'] &&  pedidoForm.get('urgente')?.touched"
      class="text-danger"
      >el campo Area es requerido.</small
    >

    <app-input-box
      label="Descripcion del pedido"
      type="text"
      id="description"
      placeholder="Ingresa una descripcion del pedido (opcional)"
      [required]="false"
      [isTextarea]="true"
      formControlName="descripcion"
    ></app-input-box>
    <!-- Plazo de entrega input box -->
    <app-input-date
      label="Plazo de entrega"
      id="plazo"
      formControlName="plazo_entrega"
      [required]="true"
    >
    </app-input-date>
    <!-- Mensaje de error para la fecha -->
    <div
      *ngIf="
        pedidoForm.get('plazo_entrega')?.invalid &&
        pedidoForm.get('plazo_entrega')?.touched
      "
      class="text-danger text-sm mt-1"
    >
      <small *ngIf="pedidoForm.get('plazo_entrega')?.errors?.['required']"
        >El plazo de entrega es requerido.</small
      >
      <small *ngIf="pedidoForm.get('plazo_entrega')?.errors?.['futureDate']"
        >La fecha debe ser posterior a hoy.</small
      >
    </div>
    <div class="d-flex col align-content-center mb-2">
      <i class="bi bi-asterisk text-danger"></i>
      CAMPOS OBLIGATORIOS
    </div>

    <!-- Cambiamos el botón para que sea de tipo 'submit' -->
    <app-custom-button
      text="Guardar Pedido"
      type="submit"
      styleType="success"
      [disabled]="pedidoForm.invalid"
      (click)="onSubmit()"
    >
      ></app-custom-button
    >
  </form>
</div>
