<a
  *ngIf="href; else buttonTpl"
  [href]="href"
  class="option-btn"
  [ngClass]="{ active: active }"
  target="_blank"
  rel="noopener noreferrer"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <i *ngIf="iconClass" [ngClass]="'bi bi-' + iconClass"></i>
  <span class="text-success">{{ text }}</span>
</a>

<ng-template #buttonTpl>
  <button
    type="button"
    class="btn option-btn"
    [ngClass]="{ active: active }"
    (click)="onClick()"
    [class.hovered]="isHovered"
  >
    <i
      *ngIf="iconClass"
      [class.hovered]="isHovered"
      [ngClass]="'bi bi-' + iconClass"
      class="text-success"
    ></i>
    <span *ngIf="!iconOnly" [class.hovered]="isHovered">{{ text }}</span>
  </button>
</ng-template>
