<app-sidebar
  [(isVisible)]="sidebarVisible"
  [title]="sidebarTitle"
  [componentToLoad]="componentToLoad"
  [componentInputs]="sidebarInputs"
></app-sidebar>
<div class="product-container shadow-sm wi">
  <!-- Encabezado con el título, buscador y botón de agregar -->
  <div class="container-header min-vh-25" style="min-width: 350px">
    <h5 class="fw-bold">Productos/Servicios Agregados</h5>
    <div class="d-flex align-items-center mt-3 gap-2">
      <div class="input-group flex-grow-1">
        <span class="input-group-text bg-light border-end-0" id="search-icon">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          class="form-control border-start-0"
          placeholder="Buscar producto..."
          [(ngModel)]="searchTerm"
          (input)="filterItems()"
        />
      </div>
      <app-button-with-icon
        text="Agregar"
        iconClass="bi bi-plus"
        class="w-2 h-1"
        (buttonClick)="openPedidoProducto()"
        *ngIf="pedido?.estado == 'En Creacion'"
      ></app-button-with-icon>
    </div>
  </div>

  <!-- Contenido: Lista de productos o mensaje de "sin productos" -->
  <div class="container-body">
    <!-- ***** VISTA 1: Con productos ***** -->
    <div>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item d-flex justify-content-between align-items-center product-card"
          *ngFor="let item of pedidoItems"
        >
          <div class="d-flex align-items-center w-100">
            <div class="product-icon me-3">
              <i class="{{ getCategoriaIcon(item) }} text-success"></i>
            </div>

            <div class="product-info flex-shrink-1">
              <h6 class="product-title mb-1">
                {{ getNombreProducto(item) }}
                <span
                  class="mx-2 badge"
                  [ngClass]="getBadgeClass(getEstado(item), true)"
                  *ngIf="pedido?.estado != 'En Creacion'"
                >
                  {{ getEstado(item) | uppercase }}
                </span>
                <span
                  class="mx-2 badge"
                  class="text-bg-secondary text-white"
                  *ngIf="item.estado == 'En Envio'"
                >
                  {{ getOrdenCompra(item) | uppercase }}
                </span>
              </h6>

              <div class="d-flex row">
                <small class="product-quantity text-muted">
                  <b>Cantidad:</b> {{ getCantidad(item) }},
                  {{ getUnidadMedida(item) }}
                </small>

                <p
                  class="product-description mb-1"
                  *ngIf="getDescripcion(item)"
                >
                  Descripción: {{ getDescripcion(item) }}
                </p>

                <small
                  class="product-description mb-1"
                  *ngIf="getLinkReferencia(item)"
                >
                  <a
                    [href]="getLinkReferencia(item)"
                    target="_blank"
                    rel="noopener"
                    >LINK REFERENCIA</a
                  >
                </small>

                <small
                  class="product-description mb-1"
                  *ngIf="getRazonPedido(item)"
                >
                  <b>Razon del pedido:</b>
                  <div
                    class="bg-light card shadow-sm border-1 align-items-center w-50"
                  >
                    {{ getRazonPedido(item) }}
                  </div>
                </small>
              </div>

              <!-- 🔽 PRECIO ABAJO -->
              <div *ngIf="getPrice(item)" class="mt-2">
                <b>Precio:</b>
                <div
                  class="bg-success card shadow-sm border-1 align-items-center w-50"
                >
                  <div class="text-white">
                    {{ getPrice(item) | currency : "$" : "symbol" : "1.0-0" }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Botones siguen a la derecha -->
          <div
            class="product-actions d-flex gap-1"
            *ngIf="pedido?.estado == 'En Creacion' || itemsOC"
          >
            <button
              class="btn btn-lg btn-light border rounded-circle text-center text-warning"
              title="Editar producto"
              *ngIf="!itemsOC"
              (click)="editProductItem(getPedidoItem(item))"
            >
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-lg btn-light border rounded-circle text-center text-sucess"
              title="Presupuestar"
              *ngIf="itemsOC"
              (click)="openPresupuestoItemForm(getPedidoItem(item))"
            >
              <i class="bi bi-currency-dollar"></i>
            </button>
            <button
              class="btn btn-lg btn-light border rounded-circle text-center text-danger"
              title="Eliminar producto"
              (click)="deleteItemPedido(getPedidoItem(item))"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </li>
      </ul>
      <!-- ***** VISTA 2: Sin productos ***** -->
      <div class="no-products-placeholder" *ngIf="pedidoItems.length == 0">
        <div class="add-icon-circle" (click)="showMessageWhenIsNull()">
          <i class="bi bi-plus-lg"></i>
        </div>
        <p class="mt-3 text-muted">Agregar</p>
      </div>
      <div
        class="no-products-placeholder"
        *ngIf="pedidoItems.length > 0 && pedido?.estado == 'En Creacion'"
      >
        <div class="add-icon-circle" (click)="finalizar()">
          <i class="bi bi-check text-success"></i>
        </div>
        <p class="mt-3 text-muted">Finalizar pedido</p>
      </div>
      <div class="no-products-placeholder" *ngIf="total">
        <div
          class="total-rectangle d-flex flex-column align-items-center justify-content-center mb-2"
        >
          <span class="total-label">TOTAL</span>
          <span class="total-amount">{{
            total | currency : "$" : "symbol" : "1.2-2"
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
