<div class="container mx-auto my-auto form">
  <p-toast position="top-right"></p-toast>
  <h3 class="my-4">Agregar un Producto a tu Pedido</h3>
  <form [formGroup]="productoPedidoForm" (ngSubmit)="onSubmit()">
    <app-input-box
      label="ID del Pedido"
      type="text"
      id="pedido_id"
      [value]="pedidoId"
      [disabled]="true"
    ></app-input-box>

    <!-- Mensaje de error para el título -->
    <app-input-modal-selector
      label="Selecciona un Producto"
      id="producto_id"
      [data]="productoData"
      placeholder="Seleccione un producto"
      formControlName="producto_id"
    ></app-input-modal-selector>

    <div class="row g-2">
      <div class="col-12 col-md-6 d-flex flex-column">
        <label class="input_label">Cantidad</label>
        <p-inputNumber
          formControlName="cantidad"
          [min]="0"
          placeholder="0"
          mode="decimal"
          [showButtons]="true"
          buttonLayout="stacked"
          inputId="cantidad"
          class="w-100 h-30 wid"
          inputStyleClass="w-100 h-30 responsive-input"
        ></p-inputNumber>
      </div>

      <div class="col-12 col-md-6 d-flex flex-column">
        <label class="input_label mb-1">Unidad de Medida</label>
        <p-autoComplete
          formControlName="unidad_medida_id"
          [suggestions]="filteredMedidasData"
          (completeMethod)="filterData($event)"
          [dropdown]="true"
          optionLabel="nombre"
          placeholder="Selecciona una unidad de medida"
          dropdownIcon="pi pi-chevron-down"
          class="w-100 responsive-input"
          inputStyleClass="w-100"
        ></p-autoComplete>
      </div>
    </div>

    <app-input-box
      label="Razon del pedido (opcional)"
      type="text"
      id="razon_pedido"
      placeholder="Ej: Este pedido es urgente por.."
      [required]="false"
      [isTextarea]="false"
      formControlName="razon_pedido"
    ></app-input-box>

    <div style="max-width: 400px; margin: 50px auto; display: grid; gap: 20px">
      <!-- Cambiamos el botón para que sea de tipo 'submit' -->
      <app-custom-button
        text="Guardar Pedido"
        type="submit"
        [disabled]="productoPedidoForm.invalid"
        (click)="onSubmit()"
        styleType="success"
      >
        ></app-custom-button
      >
    </div>
  </form>
</div>
