/* Forzar que el contenedor del autocomplete se estire al 100% */
:host ::ng-deep .custom-autocomplete {
  display: flex;
  width: 100% !important;
}

/* Input interno */
:host ::ng-deep .custom-autocomplete .p-inputtext {
  flex: 1; /* Ocupa todo el espacio disponible */
  height: 45px !important; /* mismo alto que el botón */
  border: 1px solid #dadaf2 !important;
  border-right: none !important; /* sin borde derecho para unirse al botón */
  border-radius: 5px 0 0 5px !important; /* esquinas izquierdas redondeadas */
  background: #fff !important;
  box-sizing: border-box !important;
}

/* Botón del dropdown */
:host ::ng-deep .custom-autocomplete .p-autocomplete-dropdown .p-button {
  height: 45px !important;
  width: 45px !important;
  border: 1px solid #dadaf2 !important;
  border-radius: 0 5px 5px 0 !important; /* esquinas derechas redondeadas */
  background: #fff !important;
  color: #333 !important;
  box-shadow: none !important;
}

/* Icono dentro del botón */
:host
  ::ng-deep
  .custom-autocomplete
  .p-autocomplete-dropdown
  .p-button
  .p-button-icon {
  font-size: 16px !important;
  color: #333 !important;
}
