@media (max-width: 650px) {
  .row.g-3 {
    display: block !important;
    width: 100vw !important;
  }

  .row.g-3 > [class*="col-"] {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
.small-input ~ .p-inputnumber-button-up,
.small-input ~ .p-inputnumber-button-down {
  height: 1rem !important;
}
