<div id="indicadores" class="d-flex justify-content-center">
  <div class="col-md-4 col-lg-3 mx-2">
    <app-card-dashboard-icon
      borderColor="secondary"
      title="Pedidos totales"
      value="10"
      icon="bi-airplane-fill"
    ></app-card-dashboard-icon>
  </div>
  <div class="col-md-4 col-lg-3 mx-2">
    <app-card-dashboard-icon
      borderColor="warning"
      title="Mis pedidos pendientes"
      value="value"
      icon="bi-airplane-fill"
      [hasCustomIconColor]="true"
    ></app-card-dashboard-icon>
  </div>
</div>

<app-table-bootstrap
  [data]="pedidos"
  [pageSize]="10"
>
  <!-- Plantilla personalizada para el encabezado -->
  <ng-template #headerTemplate>
    <th>Id</th>
    <th>Titulo</th>
    <th>Numero de Pedido</th>
    <th>Estado</th>
    <th>Plazo de entrega</th>
    <th>Fecha de creacion</th>
    <th>Responsable</th>
  </ng-template>

  <!-- Plantilla personalizada para las filas -->
  <ng-template #rowTemplate let-item>
    <td>
      <div class="d-flex align-items-center">
        <div class="ms-3">
          <p class="fw-bold mb-1">{{ item.id }}</p>
          <p class="text-muted mb-0">{{ item.responsable }}</p>
        </div>
      </div>
    </td>
    <td>
      <p class="fw-normal mb-1">{{ item.titulo }}</p>
    </td>
    <td>{{ item.numero_pedido }}</td>
    <td>

        {{ item.estado }}
      
    </td>
    <td>{{ item.plazo_entrega | date:'medium'}}</td>
    <td>{{ item.fecha_creacion | date }}</td>
    <td>
      <button type="button" class="btn btn-outline-primary">
        Ver productos cargados
      </button>
    </td>
  </ng-template>
</app-table-bootstrap>

