<p-toast></p-toast>
<app-sidebar
  [(isVisible)]="sidebarVisible"
  [title]="sidebarTitle"
  [componentToLoad]="componentToLoad"
  [componentInputs]="sidebarInputs"
></app-sidebar>

<div id="indicadores" class="d-flex justify-content-center mt-3">
  <div class="col-md-4 col-lg-3 mx-2">
    <app-card-dashboard-icon
      borderColor="warning"
      title="Pedidos totales"
      value="10"
      icon="bi bi-bag"
    ></app-card-dashboard-icon>
  </div>
  <div class="col-md-4 col-lg-3 mx-2">
    <app-card-dashboard-icon
      borderColor="info"
      title="En proceso de Entrega"
      value="value"
      icon="bi bi-bag-heart"
      [hasCustomIconColor]="false"
    ></app-card-dashboard-icon>
  </div>
  <div class="col-md-4 col-lg-3 mx-2">
    <app-card-dashboard-icon
      borderColor="success"
      title="Pedidos Cerrados"
      value="value"
      icon="bi bi-bag-heart"
      [hasCustomIconColor]="true"
    ></app-card-dashboard-icon>
  </div>
</div>
<h2 class="text-center my-auto mx-auto mb-3 mt-3 bg-gray">
  Historial de mis pedidos
</h2>
<app-table-ng (openCreatePedido)="openPedidoForm()"></app-table-ng>
