<ng-container *ngIf="href; else buttonTemplate">
  <a
    [href]="href"
    [class]="'btn btn-' + styleType"
    target="_blank"
    rel="noopener noreferrer"
    [class.disabled]="disabled"
  >
    <i *ngIf="icon" [class]="'bi ' + icon + ' me-2 fs-2' "></i>
    {{ text }}
  </a>
</ng-container>

<ng-template #buttonTemplate>
  <button
    type="button"
    [class]="'btn btn-' + styleType"
    (click)="onClick()"
    [disabled]="disabled"
  >
    <i *ngIf="icon" [class]="'bi ' + icon + ' me-2'"></i>
    {{ text }}
  </button>
</ng-template>
